html {
	overflow-x: auto;
	overflow-y: scroll;
}

body {
	background-color: #EFFFBF;
}

#topinfo {
	background-color: #80b8d8;
	border-color: #557b90;
	color: darkblue;
}

#helpbox {
	background-color: #BFFF00;
}

#loginout .text {
	width: 180px;
	background-color: #FFEEBB;
}

#topnav {
	background-color: #491829;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}

#maincol {
	background-color: white;
	border: 2px solid #CFDDA6;
	width: 626px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	padding: 20px;
}

label.nav_item {
	font-weight: normal;
	display: block;
	float: left;
	text-align: center;
	width: 120px;
}

#topnav a {
	text-decoration: none;
}

#topnav a:hover {
	text-decoration: underline;
}

#footer {
	text-align: center;
}

#footer a {
	color: black;
}

a.menu_item, .box a {
	color: white;
}

.box {
	background-color: #DFFF80;
	/*color: white;*/
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}

.right_button {
	border: 1px solid silver;
	padding-right: 17px;
	padding-left: 3px;
	background-color: white;
	width: 250px;
}

.right_button img {
	vertical-align: middle;
}

/* Resets */
:focus {
	outline: 0;
}

a, a:hover, a:visited, a:active {
	color: black;
}

pre, code, tt {
	overflow: auto;
}

/* Blueprint mods */

.clickable {
	cursor: pointer;
}

.image_container {
	text-align: center;
}

#maincol {
	overflow: auto;
}

